<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<system.web>
		<customErrors mode="Off" />
		<httpRuntime targetFramework="4.5.1" />
	</system.web>
    <system.webServer>
        <httpRedirect enabled="true" destination="http://www.uat.edu/techtrek" exactDestination="true" httpResponseStatus="Permanent" />
    </system.webServer>
</configuration>